<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Cats</h1>
    <%= link_to 'New cat', new_cat_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <%# ransackを利用した検索フォームでは、form_withの代わりにsearch_form_forを使う %>
  <%= search_form_for @search, class: "flex" do |f| %>

    <%# `カラム名_cont`とすることで、カラムに対してLIKEを使った曖昧一致検索ができる %>
    <div>
      <%= f.label :name_cont, "名前" %>
      <%= f.search_field :name_cont, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
    </div>

    <%# `カラム名_eq`とすることで、カラムに対して完全一致検索ができる %>
    <div class="ms-2">
      <%= f.label :age_eq, "年齢" %>
      <%= f.search_field :age_eq, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
    </div>
    <%= f.submit %>

    <%# 検索結果と検索フォームをクリアする %>
    <%= link_to "クリア", cats_path %>

  <% end %>

  <%# ソートのリンク。このリンクをクリックするとname属性でソートされる %>
  <%= sort_link(@search, :name) %>

  <%# ソートのリンク。このリンクをクリックするとage属性でソートされる %>
  <%= sort_link(@search, :age) %>

  <div id="cats" class="min-w-full">
    <% @cats.each do |cat| %>
      <%= render(Cat::ColumnComponent.new(cat: cat)) %>
    <% end %>
  </div>

  <%= paginate @cats %>
</div>
